<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>이메일</th>
            </tr>
            <tr th:each="data : ${datas}">
                <td th:text="${data.subwayid}"></td>
                <td th:text="${data.statnid}"></td>
                <td th:text="${data.statnname}"></td>
            </tr>
        </table>
    </div>
</body>
</html>